<%
	local uci = require 'luci.model.uci'.cursor()
	protocol="http://"
%>
<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[vpn]], [[vnt]], [[status]])%>', null,
    function(x, data) {
        var st = document.getElementById('vnt_status');
        if (data && st) {
            // 仅单进程vnt状态，移除vnts服务端所有展示
            var runStatus = data.running ? "<span style='color:green;'> 运行中</span><img src='https://www.right.com.cn/forum/data/attachment/album/202401/30/081238k459q2d5klacs8rk.gif' width='30px' alt=''>" : "<span style='color:red;'> 未运行</span>";
            var runTime = data.running ? "已运行：" + "<span style='color:#DA70D6;'>" + data.vntsta + "</span>" : "";    
            var cpuText = data.running ? "<br>" + "CPU占用：" + "<span style='color:#6A5ACD;'>" + data.vntcpu + "</span>" : "";  
            var memText = data.running ? "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + "&nbsp;&nbsp;&nbsp;&nbsp;内存占用：" + "<span style='#0000CD;'>" + data.vntram + "</span>" : ""; 
            var verCur = data.running ? "<br>" + "当前版本：" + "<span style='color:#CD853F;'>" + data.vnttag + "</span>" : ""; 
            var verNew = data.running ? "&nbsp;&nbsp;&nbsp;&nbsp;" + "&nbsp;&nbsp;&nbsp;最新版本：" + "<span style='color:#FFA500;'>" + data.vntnewtag + "</span>" : "";    
            var webBtn = "";
            if (data.web !== 0 && data.running) {
                webBtn = "&nbsp;&nbsp;&nbsp;" + "<input class=\"cbi-button cbi-button-reload mar-10\" type=\"button\" value=\" <%:Web 管理界面%> \" onclick=\"window.open('<%=protocol%>" + window.location.hostname + ":" + data.port + "/')\"/>";
            }
            st.innerHTML = "<em><b>VNT2 " + runStatus + runTime + cpuText + memText + verCur + verNew + webBtn + "</b></em>";          
        }
    }
);
//]]></script>
<fieldset class="cbi-section">
    <p id="vnt_status">
        <em><%:正在获取运行状态...%></em>
    </p>
</fieldset>
